body {
	min-height: 100%;
	font-family: 'Fira Sans', sans-serif;/**/
}

/* Header */
header {
    background-color: #d14841;
    height: 80px;
}
header a {
    text-decoration: none;
    display: block;
}
header .fleft h1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
	margin-left: 10px;
    line-height: 80px;
    font-size: 24pt;
    color: white;
	font-weight: 500;
}
header img {
	width: 64px;
	height: 64px;
    vertical-align: middle;
}
#topNavBar {
	/*border: solid 1px red;/**/
	height: 80px;
	line-height: 80px; /* Workaround to align the text vertically */
	margin-right: 10px;
}
#topNavBar a {
	/*border: solid 1px blue;/**/
	vertical-align: middle;
	display: inline-block;
    line-height: normal;
    font-size: 14pt;
	font-weight: 500;
	color: white;
	padding: 5px 7px 5px 7px;
	margin-top: 20px;
}
#topNavBar a:hover {
	text-decoration: underline;
}
#topNavBar a.disabled {
	text-decoration: line-through;
}
#topNavBar a.disabled:hover {
	text-decoration: line-through;
}

/* Body */
#body {
	padding-bottom: 80px; /* Height of the footer*/
}
#body p {
	line-height: 18px;
}
#body p + p {
	margin-top: 8px;
}
h2, h3 {
	margin: 5px 0 8px 0;
	padding: 10px;
	/*background-color: #e14938;*/
	background-color: #d14841;
	width: 100%;
	color: white;
	font-weight: 500;
}
p + h2 {
	margin-top: 15px; 
}
h3 {
	margin-top: 15px;
	background-color: #efefef;
	color: #303030;
}
.links > li {
    margin-left: 20px;
    list-style-type: disc;
	margin-top: 9px;
}
.links a {
	color: dodgerblue;
	text-decoration: underline;
}


/*http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page*/
footer {
    /*background-color: #eb6b56;*/
	position:absolute;
	bottom:0;
    background-color: #d14841;
	height: 80px;
	width: 100%;
    text-align: center;
    margin: 25px 0 0 0;
}
footer, footer a {
    color: #ffffff;
}
footer a:hover {
    color: #dddddd;
}

.container {
    width: calc(100% - 20px);
    max-width: 950px;
    margin: 0 auto;
}

/* Misc */
.fleft {
    float: left;
}
.fright {
    float: right;
}
.fclear:after {
    content: "";
    display: table;
    clear: both;
}
.m-20 {
	margin-top: 20px;
}