<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/application.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss} %-5level - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">		
				<fileNamePattern>logs/log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>5MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				
				<!--<maxHistory>30</maxHistory>-->
		</rollingPolicy>
	</appender>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
    	<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss} %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>	
	
	<!--<logger name="main" level="INFO">
		<appender-ref ref="TIME_BASED_FILE" />
		<appender-ref ref="consoleAppender" />
	</logger>-->
</configuration>